body
{
background-color: rgba(224,238,238, 0.4);
}


#container
{
width: 1250px;
height: auto;
margin: auto;
background-color: #f5f4ed;
border:3px solid white;
box-shadow: 10px 10px 10px 10px rgba(33, 46, 179, 0.3);
}

#topbar
{
    /*margin-top: 150px;
    padding: 5px 0;
    background-color: snow;
    color: DimGray;*/
width:auto; 
display:block; 
height:180px;
text-align:center;
font-family: Arial, Android, Fontana, Bell MT,  sans-serif;
color: #3C378B;
word-spacing: 100%;
}

/*#lbt h1 
{
position: absolute;
text-align: justify;
display: inline-block;
Font-Weight: Bold;
font-family: Calibri, Arial;
font-size: 16px;
margin-bottom: 10px;
}*/

#lbt
{
height: 100px;
width : 450px;
float: center;
margin: auto;
background-color: snow;
margin-top: 10px;
border-radius: 20px;
box-shadow: 10px 20px 20px 0px rgba(81, 61, 61, 0.3);
}

#lbt img 
{
position: relative;
margin-top: -20px;
}

#ref h1
{
height: 25px;
width: 250px;
float: center;
text-decoration: none;
margin: auto;	
margin-bottom: 10px;
color: Black;
}

#zone_co
{
height: auto;
width: 250px;
float: right;
margin-top: -10px ;
margin-right: 20px;
background-color: ;
font-family: Calibri, Arial;
font-size: 20px;
}

#main
{
width: 1100px;
height:auto; 
display:block;
}

#navbar
{
position: absolute;
float: left;
display:block; 
margin-left: 30px;
margin-top: 230px;
width: auto; 
height: auto;
background-color: ;
font-size: 2em;
word-spacing: 100%;
color: BurlyWood;
}

#navbar .ru
{
font-family: Verdana;
}

span 
{
margin-right: 15px;
}

#menu
{
bottom: 10px;
padding: 0px;
float: left;
position: relative;
box-shadow: 10px 30px 30px 0px rgba(23, 12, 12, 0.3);
}

#menu  li 
{
list-style: none;
background: WhiteSmoke;
width: 300px;
border-bottom: 2px solid black;
display: block;
padding: 12px;
border-left: 5px solid DeepSkyBLue;
cursor: pointer;
}

#menu li a 
{
font-family: Calibri, Arial;
text-decoration: none;
color: black;
}

#menu :hover 
{
background-color: #111111;
}

#menu :hover a
{
color: snow;
}

.bip
{
padding: 0px;
}

#menu .bip 
{
margin-left: -17px;
position: absolute;
visibility: hidden;
transform: scaleY(0);
transform-origin: 50% 0;
transition: transform 1s ease;
}

#menu .bip a
{
color: #666666;
}

#menu  :hover  ul.bip
{
position: relative;
display: block;
visibility: visible;
transform: scaleY(1);
}

#columnright
{
width: 850px;
height: 650px; 
margin-left: 250px;
font-family: Calibri, Arial;
}

#columnright h1
{
margin-left: 150px;
position: relative;
float: center;
top: 20px;
text-align: center;
margin-bottom: 50px;
color: Black;
font-family: Verdana;
/*font-size: 15px;*/
}

/*.text
{
margin-left: 20px;
position: relative;
float: center;
top: 20px;
text-align: center;
margin-bottom: 50px;
color: Black;
font-family: Verdana;
font-size: 15px;
}*/

@-webkit-keyframes sliderTop
{
% {top: 0%;}
0% {top: 0%;}
15% {top: 0%;}
20%{top: -100%;}
35% {top: -100%;}
50% {top: -200%;}
65% {top: -200%;}
80% {top: -300%;}
95% {top: -300%;}
100%{top: -300%;}
}

#diaporama
{
max-width: 680px;
height: 350px;
overflow: hidden;
margin-left: 150px;
bottom: -160px;
position: relative;
border: 5px solid MediumSpringGreen;
box-shadow: 10px 30px 30px 0px rgba(23, 12, 12, 0.3);
cursor: pointer;
}

#diaporama figure 
{
width: 685px;
height: 350px;
position: relative;
-webkit-animation: 15s sliderTop infinite;
margin: auto;
}

#diaporama figure img 
{
width: 685px;
height: 350px;
float: left;
}

#rédac
{
width: auto;
height: 120px;
overflow: auto;
margin-top: -350px;
position: relative;
margin-left: -130px;
font-size: 20px;
Font-Weight: Bold;
color: Black;
}

#footer
{
margin-top: 150px;
padding: 5px 0;
background-color: silver;
color: DimGray;
}

.pro p 
{
position: absolute;
text-align: justify;
display: inline-block;
Font-Weight: Bold;
font-family: Calibri, Arial;
font-size: 16px;
margin-bottom: 10px;
}

.lb
{
margin-left: 30px;
position: relative;
}

.part
{
box-shadow: 10px 20px 20px 0px rgba(81, 61, 61, 0.3);
}

a:link{color: silver;}
a:visited{color: silver ;}
a:hover{color: DodgerBlue;}