/* ceci est le css des pages de connexion */

body
{
background-image: -webkit-linear-gradient(top, #61FF6B 0%, #80E8BB 100%);
font-family: Calibri, Arial;
}

#container
{
width: 1250px;
height: auto;
margin: auto;
background-color: PaleTurquoise;
border: 2px solid white;
box-shadow: 10px 10px 10px 10px rgba(33, 46, 179, 0.3);
}

#zonetop
{
width: 1150px;
height: auto;
margin:auto;
margin-top: 10px;
background-color:;
border: ;
}

a .lbt 
{
margin-left: 400px;
margin-bottom: 15px;
visibility: visible;
width: 250px;
height: 150px;
}

#ress
{
width: 1150px;
height: 50px;
margin: auto;
}

.fb 
{
display: block;
padding: 0px;
width: 200px;
height: 10px;
position: relative;
float: left;
background-color: navy;
margin-left: 10px;
}

.tw
{
display: block;
padding: 0px;
width: 200px;
height: 10px;
position: relative;
float: center;
background-color: #1abc9c;
margin-left: 460px;
}

.gg
{
display: block;
padding: 0px;
width: 200px;
height: 10px;
position: relative;
float: right;
background-color: #c0392b;
margin-top: -10px;
margin-right: 10px;
}

#ress :hover .ff .tw .gg
{
width: 200px;
height: 90px;
}

img
{
box-shadow: 10px 20px 20px 0px rgba(81, 61, 61, 0.3);	
}

a img
{
width: 200px;
height: 10px;
margin-bottom: 10px;
position: relative;
visibility: hidden;
}


#ress :hover img
{
visibility: visible;
width: 200px;
height: 70px;
}

#main
{
width: 1200px;
height: auto;
margin:auto;
margin-top: 50px;
}

nav 
{
margin-left: 0px;
position: relative;
width: 1200px;
margin-top: -16px;
}

#navmenu
{
margin-left: 100px;
padding: 0px;
}

span 
{
margin-left: 15px;
}

#navmenu a
{
padding: 0px 15px;
}

#navmenu .title 
{
display: inline-block;
float: left;
position: relative;
padding: 0px;
width: 250px;
background-color: #3498db;
transition: 0.5s;
height: 35px;

}

#navmenu .title a 
{
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
font-family: Calibri, Arial;
font-size: 25px;
}

#navmenu .sub
{
padding: 0px 2px;
display: block;
position: absolute;
margin-left: 0px;
height: 0px;
transform: scaleY(0);
transform-origin: 50% 0;
transition: transform 1s ease;
background-color: #3498db;
visibility: hidden;
border-radius: 5px;
}

#navmenu :hover .sub 
{
visibility: visible;
height: auto;
transform: scaleY(1);
}

#navmenu .sub li 
{
padding: 0px;
display: block;
float: left;
width: 245px;
transition: 0.2s;
margin-left: -15px;
}

#actu
{
display: block;
padding: 0px;
margin-top: 0px;
margin-left: 50px;
width: 1100px;
height: auto;
background-color: ;
}

h1 
{
text-align: center;
padding: 0px;
font-size: 35px;
margin-left: 10px;
}

h2
{
margin-left: 10px;
font-size: 20px;
}

p
{
padding: 0px;
font-size: 20px;
margin-left: 10px;
}

.dec
{
margin-left: 70px;
}

iframe
{
margin-left: 150px;
}

li
{
list-style: none;
}

span .pl
{
margin-left: -15px;	
}

#footer
{
display:block; 
height: 450px;
background-color: silver;
color: DimGray;
}

.pro
{
position: center;
display: block;
width: 320px;
Font-Weight: Bold;
font-family: Calibri, Arial;
font-size: 17px;
margin: auto;
margin-top: 25px;

}

.pro p 
{
margin-left: 15px;
margin-top: 5px;
}

.lb
{
margin-left: 30px;
position: relative;
}

.phone 
{
width: 250px;
float: left;
height: auto;
margin-top: -300px;
font-family: Calibri, Arial;
margin-left: 60px;
}

.sp p
{
position: relative;
left: 0px;
top: 5px;
}

.frandroid
{
width: 250px;
float: right;
height: auto;
margin-top: -300px;
font-family: Calibri, Arial;
margin-right: 70px;
}

.sp2 p
{
position: relative;
left: 0px;
top: 20px;
}

.part
{
visibility: visible;
width: 150px; 
height: 75px;
}

#footer img
{
box-shadow: 10px 20px 20px 0px rgba(81, 61, 61, 0.3);	
}

/* a partir d'ici css pour page ASUS ROG G8 */

.tabs
{
padding: 0px;
width: auto;
height: 100px;
background: red;

}

.tabs li
{
padding: 0px;
font-size: 20px;
float : left;
margin-left: 10px;
}


/* a partir d'ici Fin du css pour page ASUS ROG G8 */

a:link{color: black;}
a:visited{color: black;}
a:hover{color: rgb(127, 140, 141) ;}
