    	.header{
    		height : 50px;
    	}

    	.r{
    		height : 500px;
    	}

    	.foot{
    		height : 50px;
    	}

div#playerJS
{
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 600px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  display: none;
}

ul#galerie_mini li img
{
  margin: 2px 1px ;
  border: 1px solid #dcb ;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: #dcb ;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 1px solid #dcb ;
}
